<!DOCTYPE html>
<html>

<head>
    <title>welcome Test IOF</title>
    <% include ../../partials/stylesheet.ejs %>
        <% include ../../partials/header_javascript.ejs %>
            <% include ../../partials/weather_config.ejs %>

</head>


<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../../partials/header_nav.ejs %>
            <% include ../../partials/left_nav.ejs %>
                <!-- Content Wrapper. Contains page content -->
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            User
                            <small>Profile</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li>User</li>
                            <li class="active"><a href="/users/modify">Profile</a></li>
                        </ol>
                    </section>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- Line chart -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-user"></i>
                                        <h3 class="box-title">modify Profile</h3>
                                        <div class="box-tools pull-right">
                                            <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="line-chart" style="height: 300px;"></div>
                                    </div>
                                    <!-- /.box-body-->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>





                    </div>
                </div>

                <!-- /.content-wrapper -->
                <% include ../../partials/footer.ejs %>
    </div>
    <!-- Control Sidebar -->
    <% include ../../partials/right_nav.ejs %>

        <% include ../../partials/footer_javascript.ejs %>
</body>

</html>