<!DOCTYPE html>
<html>

<head>
    <title>welcome Test IOF</title>
    <% include ../../partials/stylesheet.ejs %>
        <% include ../../partials/header_javascript.ejs %>
            <% include ../../partials/weather_config.ejs %>

</head>


<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../../partials/header_nav.ejs %>
            <% include ../../partials/left_nav.ejs %>


                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            Create
                            <small>Channel</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li><i class="ffa fa-dshboard"></i>Channel</li>
                            <li class="active"><a href="/channel/create">create</a></li>
                        </ol>
                    </section>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- general form elements disabled -->
                                    <div class="box box-warning">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Create Channel</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- create channel input  -->
                                        <form role="form" action="/channel/create" method="post">
                                            <div class="box-body">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>channel name</label>
                                                    <input type="text" class="form-control" placeholder="input channel name">
                                                </div>
                                                <div class="form-group">
                                                    <label>API Key</label>
                                                    <input type="text" class="form-control" placeholder="api key" disabled>
                                                </div>
                                                <!-- soil Type  -->
                                                <div class="form-group">
                                                    <label>Soil Type</label>
                                                    <select class="form-control">
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                        <option value="option 3">option 3</option>
                        <option value="option 4">option 4</option>
                        <option value="option 5">option 5</option>
                        <option value="option 6">option 6</option>
                      </select>
                                                </div>
                                                <!-- Water Type  -->
                                                <div class="form-group">
                                                    <label>Water Type</label>
                                                    <select class="form-control">
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                        <option value="option 3">option 3</option>
                        <option value="option 4">option 4</option>
                        <option value="option 5">option 5</option>
                        <option value="option 6">option 6</option>
                      </select>
                                                </div>
                                                <!-- Soil Moisure  -->
                                                <div class="form-group">
                                                    <label>Soil Moisture</label>
                                                    <input type="text" class="form-control" placeholder="Soil Moisture">
                                                </div>
                                                <!-- User ID  -->
                                                <div class="form-group">
                                                    <label>User ID</label>
                                                    <input type="text" class="form-control" placeholder="User ID" disabled>
                                                </div>


                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer">
                                                <!-- button size 조절 -->
                                                <button type="submint" class="btn btn-primary">Create</button>
                                                <button type="cancel" class="btn btn-danger pull-right">Cancle</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- /.content-wrapper -->
                <% include ../../partials/footer.ejs %>
    </div>
    <!-- Control Sidebar -->
    <% include ../../partials/right_nav.ejs %>

        <% include ../../partials/footer_javascript.ejs %>
</body>

</html>