<!DOCTYPE html>
<html>

<head>
    <title>welcome Test IOF</title>
    <% include ../partials/stylesheet.ejs %>
        <% include ../partials/header_javascript.ejs %>
            <% include ../partials/weather_config.ejs %>

</head>


<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../partials/header_nav.ejs %>
            <% include ../partials/left_nav.ejs %>
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content">

















                        </div>
                    </div>
                </div>
                <!-- /.content-wrapper -->
                <% include ../partials/footer.ejs %>
                    <!-- Control Sidebar -->
                    <% include ../partials/right_nav.ejs %>

                        <% include ../partials/footer_javascript.ejs %>
</body>

</html>